@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-image: url('/background_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white


  }

}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-teal-400;
  }

  .tags {
    background-color: #1483ab;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 4px 10px;
    display: inline-block;
    color: white;
    font-size: 15px;

  }

  .tags:last-child {
    margin-right: 0px;
  }

  .tags:nth-child(2) {
    background-color: #1483ab;
  }

  .tags:nth-child(3) {
    background-color: #1483ab;
  }

  .tags:nth-child(4) {
    background-color: #1483ab;
  }
}